# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/checkstyleidea.tmp/
.idea/codeStyles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/*
Projeto1.iml
APDescription.txt
MTPs-Main-Container.txt
out/
bin/